.home-order {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 25px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a:-webkit-any-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  select {
    font-family: "Barlow", sans-serif;
    color: #b2acfa;
    background-color: #ffffff;
    border-radius: 0.4rem;
    border: 2px white solid;
    cursor: pointer;
    padding: 5px;
  }
  
  .container {
    width: 80%;
    max-width: 1320px;
    margin: 0 auto;
  }
  input {
    font-family: "Barlow", sans-serif;
    color: #b2acfa;
    background-color: #ffffff;
    border-radius: 0.4rem;
    border: 2px white solid;
    padding: 5px;
  }
  
  label {
    color: #ffffff;
  }
  textarea {
    font-family: "Barlow", sans-serif;
    color: #b2acfa;
    background-color: #ffffff;
    border-radius: 0.4rem;
    border: 2px white solid;
    padding: 5px;
    resize: none;
  }
  body {
    background-color: #b2acfa;
  
    font-family: "Barlow", sans-serif;
    font-size: 1rem;
    padding: 100px 140px 0 140px;

    @media (min-width: 0px) and (max-width: 1200px) {
      padding: 5rem 1rem 0 1rem;
      overflow-x:hidden;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #ffffff;
  }
  
  p {
    color: #ffffff;
  }
  
  pre {
    color: #ffffff;
    font-family: "Barlow", sans-serif;
  }
  
  
  button {
    color: #b2acfa;
    background-color: #ffffff;
    border-radius: 0.4rem;
    border: 2px white solid;
    cursor: pointer;
    padding: 5px;
  }
  
  button:hover {
    background-color: rgba(178, 172, 250, 1);
    color: white;
    transform: scale(1.1);
  }
  
  table {
    color: #ffffff;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    grid-template-areas: "sidebar main-container";

    @media (min-width: 0px) and (max-width: 1200px) {
      grid-template-columns: 1fr;
      grid-template-areas: "main-container"
                            "sidebar";
    }
  }
  
  .sidebar {
    grid-area: sidebar;
    
    @media (min-width: 0px) and (max-width: 1200px) {
      display: flex;
    flex-direction: column;
    align-items: center;
    }
  }

  
.searchBar {
  display: flex;
  align-items: center;
  gap: 2px;
}


.paragraph-style {
max-width: 40rem;
text-align: justify;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  @media (min-width: 0px) and (max-width: 1200px) {
    align-items: center;
   }
}

.readMore-button {
  align-self: start;
  @media (min-width: 0px) and (max-width: 1200px) {
    align-self: center;
   }
}

  
  .main-container {
    grid-area: main-container;
    @media (min-width: 0px) and (max-width: 1200px) {
      text-align: center;
    }

  
    .book-container {
      display: grid;
      grid-template-rows: auto;
      gap: 25px;
  
      .book {
        padding-right: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        @media (min-width: 0px) and (max-width: 1200px) {
          align-items:center;
        }
  
        .product-description {
          text-align: justify;
          text-justify: inter-word;

          .book-actions {
            display: flex;
            flex-direction: row;
          }
        }
        @media (min-width: 0px) and (max-width: 1200px) {
          padding-right: 0px;
        }
      }
    }
  }